nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 2em;
}

.logo svg {
    width: 3em;
}

.enlaces a {
    color: black;
    font-weight: bold;
    font-size: 2em;
}



.navh {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

nav svg {
    width: 1em;
}

.regis a {
    color: black;
}

.carrito a {
    color: black;
}

.log {
    padding-right: 2em;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enlaces {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
}

.enlaces.desplegado {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.boton-desplegable {
    display: none;
}

@media (max-width: 660px) {
    .enlaces {
        display: flex;
        width: 100%;
        padding: 0;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .navh {
        display: flex;
        flex-flow: column;
    } 

    .boton-desplegable {
        display: flex;
    }

    .enlaces.desplegado {
        display: flex;
    }


}
