.login {
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    flex-flow: column;
    width: 20%;
    border-radius: 40px;
    padding: 2em;
}

.login form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.login form label {
    font-size: 1.3em;
    font-weight: bold;
    margin: 1em 0;
}

.login form button {
    margin-top: 2em;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border: transparent;
    background-color: black;
    padding: 1em 2em;
}

.login form button:hover {
    background-color: #414141;
}

.login > button {
    background-color: white;
    border-radius: 20px;
    margin-top: 1em;
    border: transparent;
    padding: 0 2em;
}

.login input {
    height: 2em;
    border-radius: 10px;
    border: transparent;
    text-align: center;
}

.login p a {
    text-decoration: none;
    text-decoration: underline;
    color: black;
}

.centrar {
    display: flex;
    justify-content: center;
}