.form-reg {
    display: flex;
    justify-content: center;
    margin: 2em;
    padding-bottom: 6em;
}

.form-reg form{
    display: flex;
    flex-flow: column;
    background-color: #efefef;
    width: 15em;
    align-items: center;
    padding: 2em;
    border-radius: 40px;
}

.form-reg form label {
    font-size: 1.3em;
    font-weight: bold;
    margin: 1em;
}

.form-reg form button {
    margin-top: 2em;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border: transparent;
    background-color: black;
    padding: 1em 2em;
}

.form-reg form button:hover {
    background-color: #414141;
}

.form-reg input {
    height: 2em;
    border-radius: 10px;
    border: transparent;
    text-align: center;
}