header {
    background-image: url(https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/ss24_ortus_hp_mh_500_stone_salt_d_8a7e552985.png);
    height: 40em;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    position: relative;
    z-index: -1;
    
}

header a {
    background-color: black;
    width: 8em;
    text-align: center;
    border-radius: 20px;
    margin-left: 7em;
    color: white;
}

header h2 {
    font-size: 3em;
    font-weight: bold;
    align-self: bottom;
    margin: 0 0 0.5em 2em;
}

main {
    display: flex;
    justify-content: space-around;
    padding-bottom: 8em;
    margin-top: 2em;
    flex-wrap: wrap;
}


.prod-home {
    background-color: #efefef;
    display: flex;
    flex-flow: column;
    text-align: center;
    flex-wrap: wrap;
    margin: 1em 0;
}

.prod-home img {
    width: 12em;
    height: 12em;
}

.btn-h {
    background-color: black;
    padding: 1em 2em;
    text-decoration: none;
    color: white;
}